.main-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 200px;
    background-color: linear-gradient(to right, white,skyblue);
    height: 100vh;
}
.item-container {
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: white;
}
.drone-img {
    height: 250px;
    width: 300px;
}